
.gugu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .dec-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
  }
  
  .dec-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .dec-title {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .dec-price {
    font-size: 1em;
    color: #757575;
  }
  .add-to-cart-button{
    padding: 10px 20px;
    background-color: #8D3841;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
   }
   .popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}